@model MeMoney.DBases.Offer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Offer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Offers" asp-action="Edit" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CompanyIdCompany1" class="control-label"></label>
                <input asp-for="CompanyIdCompany1" class="form-control" type="number" value="@Model.CompanyIdCompany1" />
                <span asp-validation-for="CompanyIdCompany1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasicSalary" class="control-label"></label>
                <input asp-for="BasicSalary" class="form-control" type="text" value="@Model.BasicSalary.ToString()" />
                <span asp-validation-for="BasicSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalSalary" class="control-label"></label>
                <input asp-for="AdditionalSalary" class="form-control" type="text" value="@Model.AdditionalSalary.ToString()"/>
                <span asp-validation-for="AdditionalSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidFrom" class="control-label"></label>
                <input asp-for="ValidFrom" class="form-control" type="datetime-local" value="@Model.ValidFrom" />
                <span asp-validation-for="ValidFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidUntil" class="control-label"></label>
                <input asp-for="ValidUntil" class="form-control" type="datetime-local" value="@Model.ValidUntil"/>
                <span asp-validation-for="ValidUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" type="text" value="@Model.Condition"/>
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalCondition" class="control-label"></label>
                <input asp-for="AdditionalCondition" class="form-control" type="text" value="@Model.AdditionalCondition" required />
                <span asp-validation-for="AdditionalCondition" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IfPaid" type="checkbox" value="true" /> @Html.DisplayNameFor(model => model.IfPaid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MaximalSalary1" class="control-label"></label>
                <input asp-for="MaximalSalary1" class="form-control" type="text" value="@Model.MaximalSalary1" />
                <span asp-validation-for="MaximalSalary1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
