@page
@model MeMoney.Pages.SeeUsersModel
@{
    ViewData["Title"] = "Użytkownicy";
}

<nav class="side-menu side-menu-container">
    <a class="scroll" asp-area="" asp-page="/ViewOffers">
        <div>
            <i class="fa-solid fa-hand-holding-dollar"></i>
        </div>
    </a>
    <a class="scroll" asp-area="" asp-page="/SetOffer">
        <div>
            <i class="fa-solid fa-file-invoice-dollar"></i>
        </div>
    </a>
    <a class="scroll" onclick="register()">
        <div>
            <i class="fa-solid fa-registered"></i>
        </div>
    </a>
    <a class="scroll" asp-area="" asp-page="/Index">
        <div id="rightLogo">
            <img src="~/Images/MeMoneyLogo.png" alt="MeMoney" class="logo" />
        </div>
    </a>
</nav>

<div class="teniefajne">
    <div class="lewica">
        @while (Model.AuthorId > 0)
        {
            @Model.MemAuthorData()
            @if(Model.isAuthor)
            {
                <div class="OfferBox">
                    <h4>Nick: @Model.AuthorNickName</h4>
                    <p>Imię: @Model.AuthorName</p>
                    <p>Nazwisko: @Model.AuthorSecondName</p>
                    <p>Nr konta bankowego: @Model.AuthorBankAccount</p>
                    <div class="offer-buttons">
                        <a class="see-memes" href=""><img src="" alt="zobacz memy" /></a>
                        <a class="see-memes" href=""><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            }
        }
    </div>
    <div class="prawica">
        @while (Model.CompanyId > 0)
        {
            @Model.CompanyData()
            @if(Model.isCompany)
            {
                <div class="OfferBox">
                    <h4>Nazwa: @Model.CompanyName</h4>
                    <p>NIP: @Model.CompanyNIP</p>
                    <p>KRS: @Model.CompanyKRS</p>
                    <p>Prezes: @Model.CompanyManager</p>
                    <div class="offer-buttons">
                        <a class="see-memes" href=""><img src="" alt="zobacz memy" /></a>
                        <a class="see-memes" href=""><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            }
        }
    </div>
</div>