@page
@model MeMoney.Pages.ViewOffersModel
@{
    ViewData["Title"] = "Memiarskie oferty";
}

<div class="text-center darkmode">
    <nav class="side-menu side-menu-container">
        <a class="scroll" asp-area="" asp-page="/SetOffer">
            <div>
                <i class="fa-solid fa-file-invoice-dollar"></i>
            </div>
        </a>
        <a class="scroll" asp-area="" asp-page="/Index" >
            <div id="rightLogo">
                <img src="~/Images/MeMoneyLogo.png" alt="MeMoney" class="logo" />
            </div>
        </a>
    </nav>
    <div class="center-box">
    </div>
</div>

<div class="OffersContainer" id="offerBoxesContainer">
    <div class="OfferBox">
        <h4>Nazwa Firmy: @Model.companyName</h4>
        <p>NIP: @Model.companyNIP</p>
        <p>Pozostała kwota: @Model.residualIncome</p>
        <p>Oferta jest aktualna dla memów które spełnią warunki <strong>przed @Model.deadline.ToString()</strong></p>
        <div class="teniefajne">
            <div class="lewica centrowanaTresc">
                <p>Warunki podstawowe: <br />@Model.requirement</p>
                <p>Wynagrodzenie: @Model.basicPayment zł</p>
            </div>
            <div class="prawica centrowanaTresc">
                <p>Warunki Dodatkowe: <br/>@Model.additionalRequirement</p>
                <p>Premia: @Model.bonusPayment zł</p>
            </div>
        </div>
    </div>
    @while(Model.idOfOffer > 0 )
    {
        <partial name="_BoxOfOffert" />
    }
</div>
